* {
  box-sizing:border-box;
 }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  ;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

#particles-js{
  height: 100%;
  background: linear-gradient(55deg,#003366,black);
}
.logo{
  height: 80px;
}

.aslogo{
  height: 12em;
  border-radius: 50%;
}

.aslogo:hover{
  height: 8.5%;
  border-radius: 50%;
  -ms-transform: scale(1, 1.1); /* IE 9 */
  -webkit-transform: scale(1, 1.1); /* Safari */
  transform: scale(1, 1.1);
}

.mhead{
  color: white;
  position: absolute;
  text-align: center;
  background: rgba(0,0,0,0.001);
  padding-top: 4%;
  padding-left: 31%;
  font-family: 'Mali', cursive;
}
@media screen and (max-width:480px){
  .mhead{
    padding-top: 0;
    padding-left: 15%;
  }
  h6{
    padding-left: 2%;
  }
}


#quote{
  background-image: url("798115411.jpg");
  display: grid;
  grid-template-areas: "a a a a a "
                         "b b b b b"
                         "b b b b b"
                         "b b b b b"
                         "c c c c c ";
  height: 100%;
  color:white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.icon{
  position:absolute;
  top:40%;
  left:0;
  background: rgba(0,0,0,0.001);
}

blockquote{
  grid-area: b;
  align-self: center;
  text-align: center;
}

.event{
  height: 100%;
  background-color: white;
  border:1px ridge grey;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.eim{
  height: 16%;
}

























 #team{
   height:100% ;
   width: auto;
   background: url("IMG_20181011_151725.jpg");
 }
